<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
        <title>yourHome - Choose</title>
        <meta name="description" content="yourHome Choose form" /> 
        <link rel="stylesheet" type="text/css" href="/res/css/login.css" />
		<style>
			body {
				background: url(res/assets/texture.png);
			}
		</style>
    </head>
    <body>
			
			<section class="main">
				<form action="" method="post" class="form" >
					<h1><span class="sign-up">Erstellen</span> oder <span class="sign-up">Beitreten</span></h1>
					<p class="std">
						<label>Eine Wohnung erstellen oder einer Wohnung beitreten?</label>
					</p>
                    <br>
					<p class="clearfix"> 
						<a href="/create" class="register">Erstellen</a>    
						<a href="/join" class="register">Beitreten</a>
					</p>
				</form>
			</section>			
    </body>
</html>